/* Oculta el footer de Utterances (si lo usas) */
.utterances-footer {
  display: none !important;
}
/* Oculta el header superior de Giscus */
.giscus-header {
  display: none !important;
}
/* Oculta el texto "Desarrollado por giscus" en el footer de Giscus */
.giscus .color-text-secondary {
  display: none !important;
}
