/* Oculta el footer de Utterances (si lo usas) */
.utterances-footer {
  display: none !important;
}
/* Oculta el header superior de Giscus */
.giscus-header {
  display: none !important;
}
/* Oculta el texto y el enlace de Giscus footer */
.giscus .color-text-secondary,
.giscus .link-secondary {
  display: none !important;
}
