/* Page transition animations with Swup */
html.is-changing .transition-swup-fade {
    @apply transition-all duration-300 ease-out
}
html.is-animating .transition-swup-fade {
    @apply opacity-0 translate-y-2
}

/* Fade-in animations for components */
@keyframes fade-in-up {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Main components */
.onload-animation {
    opacity: 0;
    animation: 350ms cubic-bezier(0.22, 1, 0.36, 1) fade-in-up;
    animation-fill-mode: forwards;
    will-change: opacity, transform;
}
#navbar {
    animation-delay: 0ms
}
#sidebar {
    animation-delay: 100ms
}
#swup-container {
    outline: none;
}
#content-wrapper {
    animation-delay: var(--content-delay);
}
.footer {
    animation-delay: 200ms;
}
#banner-credit {
    animation-delay: 350ms;
}

/* Post content */
#post-container :nth-child(1) { animation-delay: calc(var(--content-delay) + 0ms) }
#post-container :nth-child(2) { animation-delay: calc(var(--content-delay) + 50ms) }
#post-container :nth-child(3) { animation-delay: calc(var(--content-delay) + 100ms) }
#post-container :nth-child(4) { animation-delay: calc(var(--content-delay) + 150ms) }
#post-container :nth-child(5) { animation-delay: calc(var(--content-delay) + 200ms) }
#post-container :nth-child(6) { animation-delay: calc(var(--content-delay) + 250ms) }

