---
import type { GetStaticPaths } from "astro";
import Pagination from "../components/control/Pagination.astro";
import PostPage from "../components/PostPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;

const len = page.data.length;
---

<MainGridLayout>
    <PostPage page={page}></PostPage>

<!-- Aquí agregas el botón de inicio de Facebook -->
    <div style="margin-top:2rem;">
      <div 
        class="fb-login-button"
        data-width="300"
        data-size="large"
        data-button-type="continue_with"
        data-layout="default"
        data-auto-logout-link="true"
        data-use-continue-as="true"
        onlogin="checkLoginState();">
      </div>
    </div>

    <script>
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            alert('¡Has iniciado sesión con Facebook!');
            // Aquí puedes mostrar más contenido, cargar datos, etc.
          } else {
            alert('Por favor, inicia sesión con Facebook.');
          }
        });
      }
    </script>

    <Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
</MainGridLayout>
